# Secrets & local config
*.env
local.settings.json
# Deprecated local config file (kept to prevent accidental git push)
config.py

# IDE
.vscode/
.idea/

# Python cache
__pycache__/
.pytest_cache/
.venv/
.python_packages/
