# Datalake
DATALAKE_TOKEN=
DATALAKE_ENV=preprod
DATALAKE_QUERIES='[{"query_hash": "14d206c952ca80e8a5de09cb2ed21d40", "label": "malicious_ips", "valid_until": 1}, {"query_hash": "2e310c7f15ce1887b024e275fc05b19a", "label": "peerpressure_cobaltstrike_c2", "valid_until": 240}]'

# Logging
LOG_LEVEL=INFO
LOG_FILE=/tmp/datalake2sentinel.log

# Azure
CLIENT_ID=
TENANT_ID=
CLIENT_CREDENTIAL=
WORKSPACE_ID=

AZURE_SCOPE="https://management.azure.com/.default"
AZURE_AUTHORITY_URL="https://login.microsoftonline.com/"
BATCH_SIZE=100
REQUESTS_PER_MINUTE=100
SOURCE_SYSTEM_NAME="Datalake - OrangeCyberdefense"

# Add Datalake scores as labels in Azure Sentinel
ADD_SCORE_LABELS=True

# Add Datalake threat entities as labels in Azure Sentinel
ADD_THREAT_ENTITIES_AS_LABELS=True

# Add Datalake threat tags as labels in Azure Sentinel
ADD_THREAT_TAGS_AS_LABELS=True

# Timeout for threats download tasks (in seconds)
THREATS_DOWNLOAD_TIMEOUT=1800

RUN_AS_CRON=False
