# Core
datalake-scripts==3.0.0
datetime
ipaddress
msal
ratelimit
requests
apscheduler
stix2
wheel
python-dotenv

# Azure specifics
azure-keyvault-secrets
azure-identity

# Tests
black
pytest
pytest-asyncio